*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}
html {

    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.contener{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bolder;
}
.contener img{
    width: 250px;
    margin-top: 50px;
    
}