@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

 :root {
    --display-text: #fff;
    --display-cont: #424563;
    --gradient-end: #4d194d;
    --gradient-start: #0b525b;
    --input-bg: #ffffff17;
    --input-text: #fff;
}

body {
    background: linear-gradient( 53deg, var(--gradient-start), var(--gradient-end));
    height: 100vh;
}

.flex {
    display: flex;
}

.cat img {
    display: block;
    margin: 0 auto;
}

.display {
    margin: 0px auto;
    background: var(--display-cont);
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--display-text);
    width: 450px;
    font-family: "Raleway", sans-serif;
}

.time {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: rgb(75, 224, 212);
    letter-spacing: 7px;
}

.buttonRow {
    width: 100%;
    margin-top: 10px;
}

.buttonRow button {
    display: block;
    width: 50%;
    padding: 10px;
}

input {
    width: 100%;
    padding: 10px;
    background: var(--input-bg);
    color: var(--input-text);
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}